.why-we__card {
    width: 372px;
    margin-right: 33px;

}

.why-we__card:last-of-type {
    margin: 0;
}

.why-we__card:hover .how-it-works__link {
    opacity: 1;
}

.how-it-works__card:hover .how-it-works__number-title {
    opacity: 1;
}

