
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}



.how-it-works {
    background-color: #263F44;
    color: white;
    margin-bottom: 112px;
    position: relative;
}

.how-it-works__card {
    width: 400px;
    height: 408px;
    padding: 24px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}


.how-it-works__card._active .how-it-works__card:first-of-type{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.how-it-works__card._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.1s;
}


.how-it-works__card._active .how-it-works__card:last-of-type{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.how-it-works__card:hover {
    outline: 2px solid #95DE1D;

}

.how-it-works__card:last-of-type {
    margin: 0;

}

.how-it-works__title {
    margin-bottom: 0;
}

.how-it-works__top-text {
    margin: 0;
    margin-bottom: 32px;
    color: #95DE1D;
    font-size: 24px;
    font-weight: 700;
}

.how-it-works__text {
    color: white;
    opacity: 0.7;
    margin: 0;
    margin-top: 100px;
}

.how-it-works__number-title {
    font-size: 72px;
    margin: 0 0 8px;
}

.how-it-works__text-block {
    margin-bottom: 72px;
}

.how-it-works__card-link-section {
display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
}

.how-it-works__link {
    text-decoration: none;
    color:  #FFFFFF;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 4px solid #95DE1D;
}

.fadeInUp {
    animation: 1s fadeInUp ease-in;
}
