.who-we-are__title {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    margin-bottom: 40px;
}

.who-we-are__title > span {
    background: #95DE1D;
}

.p:nth-of-type(2) {
width: 676px;
}

.who-we-are__title:nth-of-type(3) {

}